body {
    background-color: bisque;

}
html {
    
}
img {
    border-radius: 50%;
    align-items: center;
    height: px;
    margin-top: 110px;
    border: 2px solid ;
    align-items: center;
    
}
img:hover {
    box-shadow: 2px solid black;
    transform: scale(1.2);
}