body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.container {
    border: 2px solid #ccc;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    background-color:#222;
    text-align: center;
    color: antiquewhite;
    font-weight:bold;
    padding: 10px 0;
    font-size: 24px;
}
.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    text-align: left;

}
.prname {
    margin-top: 5px;
    font-weight: bold;
}
img {
    width: 100%;
    border-radius: 5px;
}
.description {
    font-size: 13px;
    margin-top: 5px;
    color: #333;
    margin-bottom: 8px;
}
.orgnlprice {
    margin-top: 5px;
    text-decoration: line-through;
    color: #666;
    font-size: 13px;
}
.saleprice {
    margin: 5px 6px 2px ;
    font-weight:bold;
    color: green;
}
.button {
    margin-top: 7px;
    background-color: #007bff;
    width: 100%;
    border: 0;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0069d9;
}