body {
    background-color: rgb(255, 255, 255);
    justify-content: center;
  align-items: center;
  display: flex;
  
}
.container {
    border: 2px solid;
    margin: 200px;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    height: 200px;
  width: fit-content;

}
.heading {
    text-align: center;
    margin-top: -20px;
}
.items {
       display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} 
.card1 {
    margin-right: 20px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgb(165, 165, 165);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.name {
    font-weight: bold;
    margin: 7px;
}
.details {
    transform: scale(.8);
    color: rgb(92, 92, 92);

}
.price {
    font-weight: bold;
    font-size: smaller;
    margin-top: 5px;
}
@media only screen and (max-width: 1024px) {
    .items {
        grid-template-columns: 1fr 1fr;
    }
    .container {
        height: auto;
    }
    .card1 {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .items {
        grid-template-columns: 1fr;
    }
    .container {
        height: auto;
    }
    .card1 {
        margin-bottom: 20px;
    }
}

